---
- name: install freenit packages
  with_items: "{{ freenit_packages }}"
  pkgng:
    name: "{{ item.name }}"
  notify:
    - restart freenit

- name: create project repo root
  file:
    path: /usr/local/deploy
    mode: 0755
    owner: www
    group: www
    recurse: true
    state: directory

- name: create project repo dir
  file:
    path: /usr/local/deploy/backend
    mode: 0755
    owner: provision
    group: provision
    state: directory

- name: configure freenit service
  template:
    src: freenit.j2
    dest: /etc/rc.conf.d/freenit
  notify:
    - restart freenit
